.membertitle{
	font-family: "微軟正黑體";
	font-size: 36px;
	font-weight: bolder;
}
.memberbtn{
	font-family: "微軟正黑體";
	font-weight: bolder;
	color: white;
}
.subtit{
	font-family: "微軟正黑體";
	font-size: 12px;
	color: gray;
}